{% extends 'login-layout.twig' %}

{% block content %}

<form action="{{ path_for('user-new-post') }}" method="post" class="form form--login">
  <div class="form__field">
    <label class="fa fa-user" for="first-name"><span class="hidden">First Name</span></label>
    <input name="first-name" id="first-name" type="text" class="form__input" placeholder="First Name" required>
  </div>
  <div class="form__field">
    <label class="fa fa-user" for="last-name"><span class="hidden">Last Name</span></label>
    <input name="last-name" id="last-name" type="text" class="form__input" placeholder="Last Name" required>
  </div>
  <div class="form__field">
    <label class="fa fa-envelope-o" for="email"><span class="hidden">Email</span></label>
    <input name="email" id="email" type="email" class="form__input" placeholder="Email" required>
  </div>
  <div class="form__field">
    <label class="fa fa-lock" for="password"><span class="hidden">Password</span></label>
    <input name="password" id="password" type="password" class="form__input" placeholder="Password" required>
  </div>
  <div class="form__field">
    <label class="fa fa-lock" for="password-confirm"><span class="hidden">Password (again)</span></label>
    <input name="password-confirm" id="password-confirm" type="password" class="form__input" placeholder="Password (again)" required>
  </div>
  {% if message %}
  <p>{{ message }}</p>
  {% endif %}
  <div class="form__field">
    <input type="submit" value="Create user">
  </div>
</form>

{% endblock %}